<a href="https://colab.research.google.com/github/ch00226855/CMP414765Spring2022/blob/main/Week01_PythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Introduction to Python

## Important Links
- [Blackboard](http://www.lehman.edu/logins/)
- [Course Github Repository](https://github.com/ch00226855/CMP414765Spring2022)
- [Google Colaboratory](https://colab.research.google.com/)
- [Anaconda Distribution for Python](https://www.anaconda.com/distribution/)

## Python Tutorial

### 1. Hello World

In [1]:
# This prints Hello World
print("Hello World")

Hello World

### 2. Variables
- Declaration
- Type

In [2]:
# Variables
a = 4
b = -5
print(a + b)

-1

In [3]:
# Type is important in python
a2 = "4"
print(a2 + b)

TypeError: ignored

In [4]:
# Show the type of a variable
print(type(a))
print(type(a2))

<class 'int'>
<class 'str'>

In [5]:
c = 1.5
d = True
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>

In [9]:
# The results of the last statement will be displayed automatically
print(a * 2)
a + c

8

5.5

In [10]:
type(float(a))

float

### 3. Arithmetics

In [14]:
# Arithmetics
# +, -, *, /
# Integer division
print(4 / 3) # gives a floating point number
print(4 // 3) # double division always give an integer
# # Get remainder
print(5 % 3) # give the remainder of integer division
# # Power
print(3 ** 2) # represents 3 to the power of 2 = 9
print(3 ** (1/2)) # square root of 3

1.3333333333333333
1
2
9
1.7320508075688772

Exercise: quadratic formula:

The solutions to equation $ax^2 + bx + c = 0$ are:

$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$

In [19]:
a = -1
b = 2
c = 3

# Ex. Use the quadratoc formula to find the solutions to ax^2 + bx + c = 0.
x1 = (-b + (b ** 2 - 4 * a * c) ** (1/2)) / (2 * a)
x2 = (-b - (b ** 2 - 4 * a * c) ** (1/2)) / (2 * a)
print("Solutions:", x1, ",", x2)

Solutions: -1.0 , 3.0

### 4. Assignment Operators

In [23]:
a = 1
a += 1 # a = a + 1
print(a)
b, c, d = 2, 3, 4
b -= 5
c *= 10
d /= 2
print(a, b, c, d)

2
2 -3 30 2.0

In [29]:
# a++ is not supported
a += 10
print(a)

17

### 5. Logical Operators

In [ ]:
t, f = True, False
print(t, f)

In [30]:
print(True or False) # "or" means or
print(True and False) # "and" means and
print(not True)
print(not False)

True
False
False
True

In [31]:
# Comparisons: >, <, ==, !=, >=, <=
exp1 = (a > 5) and (b < 3)
print(a, b, exp1)

17 -3 True

## 6. Strings.
Both `""` and `''` can be used to define strings in Python.

In [33]:
str1 = "Hello"
str2 = 'World'
str3 = '3'
print(type(str3))
print(str1 + " " + str2 + str3) # Use "+" to concatenate strings
print("My \n Name \n Is \t Liang.")

<class 'str'>
Hello World3
My
 Name
 Is 	 Liang.

In [35]:
print('I said "Good Morning"') # If the string contains "", then use '' to define the string
print("I said \"Good Morning\"")

I said "Good Morning"
I said "Good Morning"

In [37]:
# Remove extra space at the beginning and the end of a string
data_value = "     Liang Zhao     "
my_name = "Liang Zhao"
print(data_value == my_name)
print(data_value.strip())
print(data_value.strip() == my_name)

False
Liang Zhao
True

In [40]:
# Split a string
file_names = "Alex, Bob, Clare, David"
file_names.split(", ")

['Alex', 'Bob', 'Clare', 'David']

In [43]:
# String formatting
float_num = 45.67898765
print(float_num)
print("%5.2f" % (float_num))
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Alex", 89, 12.345)
print(formatted_string)
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Bob", 9, 543.21)
print(formatted_string)

45.67898765
45.68
Name:       Alex | Score:    89 | Value: 12.35
Name:        Bob | Score:     9 | Value: 543.21

### 7. Basic Data Structures
- List
- Set
- Tuple
- Dictionary

In [49]:
# List
list1 = [1, 2, 3, 4, 6.5, "Monday", True]
print(list1)
list1.append(12)
print(list1)
val = list1.pop()
print(val)
print(list1)

[1, 2, 3, 4, 6.5, 'Monday', True]
[1, 2, 3, 4, 6.5, 'Monday', True, 12]
12
[1, 2, 3, 4, 6.5, 'Monday', True]

In [58]:
# Indexing
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-2])
print(list1[2:5]) # the second index is exclusive
print(list1[:5]) # omitting the first index means starting from 0
print(list1[2:]) # omitting the second index means going to the end
print(list1[:])

1
2
True
Monday
[3, 4, 6.5]
[1, 2, 3, 4, 6.5]
[3, 4, 6.5, 'Monday', True]
[1, 2, 3, 4, 6.5, 'Monday', True]

In [59]:
len(list1)

7

In [62]:
# Change an element in a list
list1[1] = 100
print(list1)

[1, 100, 3, 4, 6.5, 'Monday', True]

In [60]:
# Set
set1 = {1, 2, 3, 3, 2, 1}
print(set1)

{1, 2, 3}

In [61]:
# Tuple
tuple1 = (1, 2, 3)

# tuples are immutable
tuple1[2] = 5 # invalid statement

TypeError: ignored

In [67]:
# Dictionary: (key, value)
dict1 = {"Alex": "A",         
         "Bob": "B", 
         "Clare": "C"}
print(dict1['Alex'])
print(dict1['Clare'])

A
C


### 8. Loops and Branches

In [68]:
names = ['Alex', 'Clare']
for name in names: # for (variable) in (list of values):
    print(dict1[name]) # Use indentation (4 spaces) to indicate the loop body

    print(names)

A
['Alex', 'Clare']
C
['Alex', 'Clare']

In [ ]:
a = 0
while a < 10:
    print(a)
    a += 1

In [ ]:
a = 2
if a > 0:
    print("Greater than zero.")
else: 
    print("Not greater than zero.")

In [ ]:
a = 2
b = 4
if a < 0:
    print("a less than zero")
elif b > 0: # "elif" means "else if"
    print("a not less than zero, and b greater than zero")
else:
    print("neither is greater than zero")

### 9. List Comprehensions

In [ ]:
list1 = [1, 2, 3, 4, 5]
# create a list whose values are 10 * values from list1:
# Solution 1:
list2 = []
for elt in list1:
    list2.append(10 * elt)
print(list2)
# Solution 2:
list2 = [ (10 * x) for x in list1   ]
print(list2)

#Example: For each element in list1: change it to 0 if it is negative, remove it if it is greater than 10
list1 = [1, -5, 20, 12, 0]
# Solution 1:
list2 = []
for x in list1:
    if x < 0:
        list2.append(0)
    elif x > 10:
        continue
    else:
        list2.append(x)
print(list2)

### 10. Functions and Classes

In [ ]:
def sum_of_list(list1):
    sum = 0
    for x in list1:
        sum += x
    return sum

In [ ]:
sum_of_list(list1)

In [ ]:
#  A function can return multiple values
def sum_and_product(list1):
    sum = 0
    product = 1
    for x in list1:
        sum += x
        product *= x
    return sum, product

In [ ]:
list1_sum, list1_product = sum_and_product(list1)
print(list1_sum, list1_product)

In [ ]:
def implicit_list_mod(list1):
    list1[0] = 100

In [ ]:
implicit_list_mod(list1) # lists are passed in by reference
print(list1)

In [ ]:
# Some parameters can have default values.
def addition(x, y=1):
    return x + y

In [ ]:
print(addition(5, 6))
print(addition(10))
print(addition("123", "456"))

In [ ]:
class Student:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print(self):
        print(self.name, " ", self.age)

In [ ]:
student1 = Student("Alex", 15)
student1.print()

## Example: Heights for Men in the US

In [ ]:
# 1. create two python lists containing average heights from 1900 to 1980
list_year = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980]
list_height = [170, 172.1, 173.1, 173.4, 176.1, 177.1, 177.3, 178.3, 179]
print(len(list_year), len(list_height))

In [ ]:
# 2. Plot a gragh
import matplotlib.pyplot as plt # import libraries
plt.plot(list_year, list_height)

In [ ]:
# Create a list that contains rate of change in list1
# how much is increased from 1900 to 1910?
rate = (172.1 - 170) / (1910 - 1900) # how many centimeters are increased per year?
rate2 = (172.1 - 170) / 170 # the percentage of increase
rate3 = (list_height[1] - list_height[0]) / list_height[0]
print(rate)
print(rate2)
print(rate3)

In [ ]:
rate_1910_1920 = (list_height[2] - list_height[1]) / list_height[1]
print(rate_1910_1920)

In [ ]:
list_rates = []
for k in [0, 1, 2, 3, 4, 5, 6, 7]:
    # for the k-th decade:
    rate_kth_decade = (list_height[k+1] - list_height[k]) / list_height[k]
    list_rates.append(rate_kth_decade)
print(list_rates)